@import url('https://fonts.googleapis.com/css2?family=Paprika&family=Roboto:wght@100;400;700&display=swap');
/*
font-family: 'Paprika', cursive;
font-family: 'Roboto', sans-serif;
*/

:root {
  --enfase: #FF5511;
  --enfase-light: #FF7D49;
  --enfase-dark: #E54A0B;
  --dark: #3E3938  ;
  --dark-light: #666463;
  --dark-dark: #252221;
  --light: #DFDFDF;
  --light-light: #F2F2F2;
  --light-dark: #B9B9B9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--dark-dark);
  color: var(--light-light);
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 1rem;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
}

@keyframes toRight {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }
  to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}

@keyframes toLeft {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }
  to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}

@keyframes toDown {
  from {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }
  to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}

@keyframes animaTop {
  50% {
    left: -30vw;
    top: -30vh;
  }

  100% {
    top: -25vh;
    left: -25vw;
  }
}

@keyframes animaLeft {
  50% {
    left: 25vw;
    top: 20vh;
  }

  100% {
    top: 20vh;
    left: 15vw;
  }
}