.menu {
  width: 0%;
  height: 100vh;
  position: fixed;
  background-color: #7D2D0D;
  z-index: 1000;
  visibility: hidden;
}

.menu.active {
  width: 100%;
  visibility: visible;
  animation: showMenu 0.5s forwards;
}

@keyframes showMenu {
  from {
    transform: translate3d(100vw, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.clear {
  clear: both;
}

.menu-header {
  width: 100%;
  margin-top: 16px;
}

.menu-header a {
  color: var(--light-light);
  text-decoration: none;
  padding: 16px;
  font-size: 24px;
  font-weight: 100;
}

.menu-header a:hover {
  color: var(--enfase-light);
}

.close-menu {
  position: fixed;
  right: 36px;
  top: 0;
  font-size: 64px;
  cursor: pointer;
}

.close-menu:hover {
  color: var(--enfase-light);
}

.close-menu:hover::before {
  content: "FECHAR";
  font-size: 16px;
  position: absolute;
  top: 32px;
  right: 40px;
  color: var(--enfase-light);
  letter-spacing: 2px;
}

.link-menu {
  text-align: right;
  padding-right: 32px;
  margin-top: 32px;
}

.link-menu ul {
  list-style-type: none;
  width: 100%;
  max-width: 300px;
  float: right;
}

.link-menu ul li {
  padding: 16px 0;
  border-bottom: 2px solid var(--light-light);
}

.link-menu ul li a {
  text-decoration: none;
  color: var(--light-light);
  font-size: 36px;
}

.link-menu ul li a:hover {
  color: var(--enfase-light);
}

.menu h3 {
  transform: rotate(-90deg);
  font-weight: 100;
  font-size: 25px;
  position: absolute;
  bottom: 80px;
  left: -30px;
}

@media screen and (max-width: 400px) {
  .link-menu {
    padding-right: 0;
  }

  .link-menu ul {
    max-width: 400px;
  }
}