.sobre {
  width: 100%;
  padding: 64px 0;
  background-color: white;
  color: var(--dark-light);;
}

.sobre h1 {
  font-size: 96px;
}

.sobre h1:first-of-type {
  font-weight: 100;
}

.sobre h1:nth-child(2) {
  font-weight: 400;
}

.sobre h1:last-of-type {
  font-weight: 700;
}

.detalhe-formacao {
  background-color: var(--light-light);
  padding: 16px;
  margin-left: 64px;
  border-radius: 4px;
  margin-bottom: 32px;
  border-left: 10px solid var(--enfase-light);
}

.detalhe-formacao p {
  padding: 4px 0;
}

.img-tecnologia {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.img-tecnologia div {
  margin: 2%;
  width: 21%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
}

@media screen and (max-width: 900px) {
  .sobre h1 {
    font-size: 64px;
  }
}

@media screen and (max-width: 630px) {
  .sobre h1 {
    font-size: 32px;
  }

  .detalhe-formacao {
    padding: 8px;
    margin-left: 2rem;
  }
}