*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    background-color: #222222;
    color: #f5f5f5;
}

header ul{
    list-style-type: none;
    text-align: center;
}

header ul li{
    display: inline-block;
    font-size: 25px;
    padding: 10px;
}

header ul li:first-of-type{
    font-size: 25px;
    padding: 10px;
    font-weight: 300;
}

header ul li:first-of-type span{
    font-weight: 700;
    letter-spacing: -2px;
}