*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html,body{
    height: 100%;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

.container-flex{
    display: flex;
    flex-wrap: wrap;
}

.clear{
    clear: both;
}

.title{
    width: 100%;
    text-align: center;
    margin: 30px 0;
}

.title h2{
    font-weight: 700;
    font-size: 35px;
    color: yellow;
    display: inline-block;
    border-bottom: 1px solid black;
}

.title h2 span{
    background-color: yellow;
    color: black;
    font-weight: 300;
}

/* HEADER */
header{
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
}

.video-banner{
    height: auto;
}

.video-banner video{
    width: 100%;
    display: block;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.collapse,
.mobile{
    display: none;
}

.collapse{
    font-size: 35px;
    position: absolute;
    top: 25px;
    right: 25px;
    color: #f5f5f5;
    cursor: pointer;
}

.collapse:hover{
    color: #d9d9d9;
}

.brand{
    position: absolute;
    top: 30px;
}

.brand a{
    color: #f5f5f5;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
}

.brand a:hover{
    color: #d9d9d9;
}

header .container{
    position: relative;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 90px;
}

.desktop{
    position: absolute;
    top: 37px;
    right: 0;
}

.desktop ul li{
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
}

.desktop ul li:last-of-type{
    padding-right: 20px;
}

.desktop ul li a{
    font-size: 18px;
    text-transform: uppercase;
    color: #f5f5f5;
    text-decoration: none;
}

.desktop ul li a:hover{
    color: yellow;
}

.mobile{
    width: 100%;
    color: white;
    position: absolute;
    top: 90px;
    left: 0;
    text-align: right;
}

.mobile ul li{
    list-style-type: none;
    border-bottom: 1px solid #999;
    display: block;
}

.mobile ul li a{
    color: #f5f5f5;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 8px 20px;
}

.mobile ul li a:hover{
    color: yellow;
}

.description{
    width: 96%;
    max-width: 600px;
    position: absolute;
    top: 200px;
}

.description h2{
    font-size: 5vw;
    font-weight: 300;
    color: yellow;
}

.description p{
    font-size: 2vw;
    color: #f5f5f5;
    font-weight: 300;
    padding: 15px 0 30px 0;
}

.description a{
    display: inline-block;
    width: 100%;
    background-color: yellow;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: #333;
    text-decoration: none;
}

.description a:hover{
    background-color: rgb(221, 221, 1);
}

/*****************************************/
/* PROJETOS */
section.projetos{
    width: 100%;
    display: inline-block;
}

.projeto-single{
    width: 33.33%;
}

.projeto-single img{
    width: 100%;
    height: 220px;
}

.projeto-single h3{
    padding: 15px 15px 0 15px;
    color: #666;
    font-weight: 300;
    font-size: 20px;
}

.projeto-single p{
    padding: 15px;
    font-weight: 300;
    color: #888;
}

.projeto-single a{
    margin: 15px 15px 40px 15px;
    background-color: yellow;
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.projeto-single a:hover{
    background-color: rgb(221, 221, 1);
}

/***************************************/
/* DEPOIMENTOS */
section.depoimentos{
    width: 100%;
    height: 400px;
    background-image: url('../img/foto6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

section.depoimentos .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.box-depoimento{
    width: 100%;
    max-width: 550px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px 40px 10px 30px;
}

.box-depoimento .btn-prev{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.2);
    font-size: 30px;
    cursor: pointer;
    transition: .2s;
}

.box-depoimento .btn-next{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.2);
    font-size: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-prev:hover,
.btn-next:hover{
    color: rgba(255, 255, 255, 0.5);
}

.depoimento-single{
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 5px;
    color: white;
}

.depoimento-avatar{
    width: 30%;
    float: left;
    padding: 10px 0;
}

.depoimento-avatar .avatar{
    width: 50px;
    height: 50px;
    background-color: #f5f5f5;
    border-radius: 50%;
    margin: 0 auto;
}

.depoimento-avatar .nome{
    text-align: center;
    padding: 10px 0;
}

.depoimento-description{
    width: 70%;
    padding-left: 10px;
    float: left;
}

.depoimento-description p{
    font-size: 15px;
    font-style: italic;
}

/*************************************/
/* CONTATO */
section.contato{
    background-color: #f5f5f5;
    padding: 25px 0;
}

.contato-single{
    width: 50%;
    padding: 15px;
}

.contato-single:first-of-type{
    background-color: #d9d9d9;
}

.contato-single p{
    padding: 5px 0;
    text-align: center;
}

.contato-single p:last-of-type{
    padding-bottom: 15px;
}

.map{
    border: 3px solid #999;
    width: 100%;
}

.social{
    text-align: center;
}

.social h3{
    font-weight: 300;
    padding: 25px 0 10px 0;
    font-size: 25px;
}

.social i{
    font-size: 35px;
    margin: 0 10px;
    color: #222;
}

.social i:hover{
    color: #333;
}

form{
    padding: 25px;
}

.form-row{
    display: inline-block;
    width: 100%;
    padding: 5px 0;
}

.form-row input[type=text],
.form-row input[type=email]{
    width: 100%;
    padding: 8px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    font-size: 18px;
}

.form-row label{
    font-size: 13px;
    color: #555;
}

.form-row textarea{
    width: 100%;
    resize: none;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 8px;
    font-size: 18px;
}

.form-row button{
    width: 100%;
    cursor: pointer;
    padding: 8px;
    font-size: 18px;
    background-color: yellow;
    border: 1px solid black;
}

.form-row button:hover{
    background-color: rgb(221, 221, 1);
}

/*****************************************/
/* FOOTER */
footer{
    background-color: #222;
    padding: 20px;
    color: #888;
    font-size: 12px;
    text-align: center;
}

/*******************************************/
/* MEDIA SCREEN */
@media screen and (max-width: 780px){
    .desktop{
        display: none;
    }

    .collapse{
        display: block;
    }

    .description{
        top: 100px;
    }
}

@media screen and (max-width: 455px){
    .description{
        width: 100%;
        position: inherit;
        top: 250px;
    }

    .description p{
        color: black;
        font-size: 15px;
    }
}